/*This file contains very basic styles.*/

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}

html,
body {
	margin: 0;
	padding: 0;
  width: 100%;
  height: 100%;
}

body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  padding-top: $nav-height;
  background-color: $background-color;
}

body.js-open-sans-loaded {
	font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
}

