
/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font-family: $text-font-stack;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures, contextual;
  font-feature-settings: "kern", "liga", "clig", "calt";
}

p {
  font-family: $serif-font-stack;
  line-height: 1.5em;
}

ul,
ol {
  font-family: $serif-font-stack;
  padding-left: 1.75em;
}

a {
  text-decoration: none;
  color: $dark-brand-color;
}

a:hover {
  color: $brand-color;
}

code {
  font-size: 0.75em;
  background-color: $very-light-grey;
  padding: 0.125em 0.5em;
  border-radius: 1px;
}
