.btn {
  padding: 0.5em 1.5em;
  color: $brand-color;
  border: 1px solid $brand-color;
  border-radius: 3px;
  text-decoration: none;
  user-select: none;
  display: inline-block;
}

.btn:hover {
  color: white;
  background-color: $brand-color;
}

.btn + .btn {
  margin-left: 1em;
}

.btn--loading {
  color: white;
  background-color: $brand-color;
}

