.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.fb{
	color: '#fff';
    fontSize: 16;

}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/*
.navbar-default {
	background-image: #fff;
	position: fixed;
	z-index: 9999;
	background-color: white;
	width:100%;
}
.jumbotron{
	position: absolute;
	z-index: 100;
	top:30px;
}
*/
.error{
	color:red;	
	font-size:20px;
}
