.ad_img{
	width: 210px;
	height: 210px;
	border-radius: 99em;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;

}
.play_img{
	position: absolute;
	width: 72%;
	height: auto;
	top: 23%;
	left:23%;
	opacity:10.7;
}
.first1{
  	position: absolute;
	top:70%;
	left:111px;
}
.second1{
  	position: absolute;
	top:100%;
	left:-107px;
}
#video li{
	display: block;
	position: relative;
	height: 150px; 
	line-height: 100px;
	cursor:pointer;
}
#video ul{
	list-style: none;
}
.first{
  	position: absolute;
	top:20%;
	left:50px;
}
.second{
  	position: absolute;
	top:50%;
	right:88px;
}
.ad_img_one{
	width: 410px;
	height: 410px;
	border-radius: 99em;
}
.ad_img_two{
	width: 210px;
	height: 210px;
	border-radius: 99em;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.play_img_one{
	position: absolute;
	width: 100%;
	height: auto;
	top: 25%;
	left:40%;
	opacity: 10.7;
    z-index:s99;
	cursor:pointer;
}
.played_img{
	position: absolute;
	width: 13%;
	height: auto;
	top: 44%;
	left:90%;
	opacity: 10.7;
    z-index: 99;
}
.cover
{ 
	width: 411px;
	height: 411px;
	border-radius: 99em;
	position: absolute;
	top: 0%;
	left:20%;
	opacity: 0.7;
} 
.dg_title{
	position: absolute;
	height: auto;
	top: 60%;
	right:51%;
	opacity: 10.7;
}
.dg_title_one{
	position: absolute;
	height: auto;
	top: 54%;
	right:57%;
	opacity: 10.7;
}
h3{
	color:#FFFFFF;
}
span{
	color:#FFFFFF;
	font-size:11px;
}
.head{
	color:#FFFFFF;
	font-size:43px;
	position: absolute;
	height: auto;
	top: 20%;
	right:49%;
	opacity: 10.7;
	z-index: 9;
}
