.lineChartAxis path,
.lineChartAxis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

.lineChartX.axis path {
  display: none;
}

.lineChart {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 1.5px;
}
.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  width: 800px;
  min-width:800px;
  height: auto;
}
