body{
	/*
	background-color:black;
*/
}
.MenuContainer{
	height: 100%;
}
.account{
	border:1px; 
	border-bottom-style: solid;
	border-bottom-color:#FFFFFF;
	border-top-style: none;
	border-left-style:none;
	border-right-style:none;
	//background-color:#FFFFFF;
	background: none;
	width:280px;
	color:#FFFFFF;
	font-size:15px;
	text-align: left;
}
.fb{
	height: 25px;
}
.homeimage{
	left:0px;
	overflow: hidden; 
	margin: 0px; 
	padding: 0px; 
	width: 100%; 
	min-width:1300px;
	height: auto;
	z-index: -999998; 
	position: absolute;
	background-size:cover;
}
#app{
	width: 100%; 
	min-width:1300px;
	height: auto;
}
#video{
  height: 680px;
  width: 100%;
  max-width: 600px;
  padding: 0px; 
  margin: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top:20%;
  left:40%;
  background-attachment: scroll;
}
.email,.password,.nickname,.code,.confirmpw{
	border:1px; 
	border-bottom-style: solid;
	border-bottom-color:#FFFFFF;
	border-top-style: none;
	border-left-style:none;
	border-right-style:none;
	background: none;
	width:710px;
	color:#FFFFFF;
	font-size:40px;
	text-align: right;
}
.input{
	border:1px; 
	border-bottom-style: solid;
	border-bottom-color:#FFFFFF;
	border-top-style: none;
	border-left-style:none;
	border-right-style:none;
	background: none;
	width:630px;
	color:#FFFFFF;
	font-size:40px;
	text-align: right;
}
.btn{
 	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	color:#FFFFFF;
}
.wallet_btn{
 	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	color:#FFFFFF;
	/*
	width:800px; 
	height:30px;
	*/
}
.wallet{
	background-color:Transparent;   
	border: 0px;
	color:#FFFFFF;
	font-size:25px;
}
#wallet{
	min-width:100px;
}
a{
	color:#C0C0C0;
}
a:hover {
    color: #FFFFFF;
}
.navbar-inverse {
	background: none;
	height: auto;
	opacity: 10.7;
	border-style:none;
}
.logo{
 	background-color: Transparent;
	width:40px;
	height:25px;
	position: absolute;
    left: 93%;
	top:5%;
	border-style: none;
	outline: none;
}
.down{
    position:relative;
    width: 100%;
	text-align:center;
}
.downline{
	position: relative;
	top: 750px;
	width: 100%;
	height: 30px;
	z-index: 99;
}
.downline1{
	position: relative;
	width: 100%;
	z-index: 99;
	top: -35px;
}
/*去除li 點*/
ul li
{
	list-style-type:none;
}
