.gender,.age{
	background-color:transparent;   
	border: 0px;
	color:#FFFFFF;
	font-size:18px;
}
.love{
	background-color:transparent;   
	border: 0px;
	color:#FFFFFF;
	font-size:15px;
	font-weight:lighter;
}
.charity{
	background-color:transparent;   
	border: 0px;
	color:#FFFFFF;
	font-size:15px;
	font-weight:lighter;
}
.charity0{
	position: absolute;
    top: 65px;
    left: 20%;
}
.charity1{
	position: absolute;
    top: 100px;
    left: 33%;
}
.charity2{
	position: absolute;
    top: 165px;
    left: 20%;
}
.charity_tab{
	background-color:transparent;   
	border: 0px;
	color:#FFFFFF;
	font-size:15px;
	font-weight:bold;
}
li {
	color:#FFFFFF;
}
/*ranking*/
#ranking span{
	font-size:50px;
	color:#FFFFFF;
}
#usd{
	font-size:12px;
}
#one h2{
	font-size:50px;
}
#friend{
	font-size:12px;
}
.Ranking_btn{
 	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	color:#FFFFFF;
	position: absolute;
    width: 150px;
    height: 150px;
    left: 308%;
	top:-157px;
	font-size: 250%;
}

/*profile*/
.pro{
	font-size:14px;
}
.profile{
	font-size:20px;
	font-weight:bold;
}
.profile_tab{
	background-color:transparent;   
	border: 0px;
	font-size:14px;
}
.change_tab{
	background-color:transparent;   
	border: 0px;
	font-size:14px;
	position: absolute;
	top:63px;
	right:-37px;
}
.pro_img{
	position: absolute;
    width: 250px;
    height: 250px;
    right: 65%;
    opacity: 10.7;
}
.pro_tab{
	position: absolute;
    width: 200px;
    height: 200px;
	top:40%;
    left: 63%;
    opacity: 10.7;
}
.tribe_tab{
	background-color:transparent;   
	border: 0px;
	font-size:15px;
	font-weight:bold;
}
#profile a{
	color:black;
}
.edit_img{
	position: absolute;
    width: 150px;
    height: 150px;
    left: 77%;
	top:-65px;
    opacity: 10.7;
}
#editform{
	position: absolute;
    width: 1000px;
    height: 1000px;
    left: 15%;
	top:35px;
    opacity: 10.7;

}
#editform1{
	position: absolute;
    width: 1000px;
    height: 1000px;
    left: 15%;
	top:305px;
    opacity: 10.7;

}
.my-facebook-button{
	background-image: url("image/fb.svg");
	border-top-style: none;
	border-left-style:none;
	border-right-style:none;
	border-bottom-style: none;
 	background-color: Transparent;
	height: 33px;
	width: 17px;
}
.google-login{
	background-image: url("image/google.svg");
	border-top-style: none;
	border-left-style:none;
	border-right-style:none;
	border-bottom-style: none;
 	background-color: Transparent;
	height: 30px;
	width: 47px;

}
#loading{
	position: absolute;
    width: 100px !important;
    height: 100px !important;
    left: 43%;
	top:150px;
    opacity: 10.7;

}
/*ad video*/
.video-react .video-react-big-play-button{
	    left: 500px !important;
		top:300px !important;

}
/*pacman-progress*/
.pacman-progress {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transition: all 1s ease-in-out 0.2s;
}
.pacman {
  position: absolute;
  transition: left 0.3s ease-in-out 0.2s;
  width: 20px;
  height: 20px;
  transform: translate(-5px, -5px);
}
.pacman::before {
  position: absolute;
  content: " ";
  width: 20px;
  height: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #FFF;
}

.pacman::after {
  position: absolute;
  content: " ";
  width: 20px;
  height: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #FFF;
  top: 10px;
}

.pacman.even::before {
  animation: pacman-top 0.12s linear alternate both;
  animation-iteration-count: 10;
}
.pacman.even::after {
  animation: pacman-bottom 0.12s linear alternate both;
  animation-iteration-count: 10;
}
.pacman.odd::before {
  animation: pacman-top-bis 0.12s linear alternate both;
  animation-iteration-count: 10;
}
.pacman.odd::after {
  animation: pacman-bottom-bis 0.12s linear alternate both;
  animation-iteration-count: 10;
}

.point {
  position: absolute;
  float: left;
  background: transparent;
  width: 10px;
  height: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #FFF;
  border-radius: 50%;
  transition: all 0.01s ease-out 0.4s;
}
.point.current {
  opacity: 0;
  background: #FFF;
}
.point.done {
  display: none;
}

@keyframes pacman-top {
  0% {transform: rotateZ(0deg);}
  100% {transform: rotateZ(-30deg);}
}
@keyframes pacman-top-bis {
  0% {transform: rotateZ(0deg);}
  100% {transform: rotateZ(-30deg);}
}
@keyframes pacman-bottom {
  0% {transform: rotateZ(0deg);}
  100% {transform: rotateZ(30deg);}
}
@keyframes pacman-bottom-bis {
  0% {transform: rotateZ(0deg);}
  100% {transform: rotateZ(30deg);}
}
/*adpage*/

.ad_btn{
 	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	color:red;
	position: absolute;
    width: 150px;
    height: 150px;
	font-size: 250%;
}
#img1 img{
    width: 90px;
    height: 90px;
}
#tribe img{
	position: relative;
    width: 280px;
    height: 65px;
	left:124px;
}

/*countrypage*/
.kingdom{
    width: 1308px;
    height: 100%;
}
.kingdom1{
	width: 333px;
	height: 100%;
}
.top{
    position: absolute;
    top: 25%;
    left: 62%;
	color:white;
}
.top0{
    position: absolute;
    top: 35%;
    left: 70%;
	color:white;
}
.top1{
    position: absolute;
    top: 90%;
    left: 10%;
	color:white;
}
.top2{
    position: absolute;
    top: 90%;
    left: 40%;
	color:white;
}
.top3{
    position: absolute;
    top: 90%;
    left: 60%;
	color:white;
}
.top4{
    position: absolute;
    top: 90%;
    left: 90%;
	color:white;
}
#country{
	font-size:22px;
}
.top6 span,h1{
	font-size:30px;
}
.top h1{
	font-size:40px;
}
/*country nav*/
#nav {
    position: absolute;
    top: 50px;
    left: 3%;
    font-size: 15px;
    z-index: 99;

}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
	color:#AAAAAA;
    background-color: transparent!important;
}
#nav .nav>li>a{
	color:white;
}
#nav1 {
    position: absolute;
    top: 50px;
    left: 3%;
    font-size: 15px;
    z-index: 99;
}
#nav1 .nav>li>a{
	color:black ;
}
/*love page*/
.player1{
	left:111px;
	height: 150px; 
}
.player2{
    position: absolute;
    right: 285px;
}
.player{
	background-color:transparent;   
	border: 0px;
	color:#FFFFFF;
	font-size:15px;
	font-weight:lighter;
}
.black{
	background-color:transparent;   
	border: 0px;
	color:#FFFFFF;
	font-weight:bold;
	font-size:16px;
}
#charity .container{
	height: 773px !important;
}
