.slide-container {
  position: relative;
  display: block;
  height: 750px;
  overflow: hidden;
  text-align: center;
}

.slide {
  width:100%;
  height: 100%;
  line-height: 100px;
  text-align:center;
  top:0;
  position:absolute;
}


.slide-enter {
  transform: translateY(100%); 
  transition: 0.3s transform ease-in-out;
}
.slide-enter-active {
  transform: translateY(0);
}
.slide-leave {
  transform: translateY(0);
  transition: 0.3s transform ease-in-out;
}
.slide-leave-active {
   transform: translateY(-100%); 
} 

